*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  min-height: 100%;
}

body {
  min-height: 100vh;
  background-color: rgb(33, 32, 32);
  color: rgb(235, 221, 221);
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  font-size: 12px;
}

li {
  display: inline;
}
a {
  color: white;
  text-decoration: none;
}
.container {
  width: min(90%, 1140px);
  margin: 3rem auto;
  background-color: black;
  padding: 0.5rem 4rem;
}
.comment-container {
  display: none;
  position: relative;
}
.comment-container.open {
  display: block;
}
.comment-container::before {
  content: "";
  background-color: rgb(38, 37, 37);
  position: absolute;
  min-height: 100%;
  width: 1px;
  left: -10px;
}
.comment-container:not(:first-child) {
  margin-left: 3rem;
  margin-top: 1rem;
}
.comment-card {
  padding: 20px;
  background-color: rgb(55, 53, 53);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  min-width: 100%;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}
.comment-card h1,
.comment-card ul,
.comment-card p {
  margin-bottom: 1rem;
}
.comment-card ul {
  display: flex;
  font-size: 0.85rem;
  opacity: 0.6;
  gap: 30px;
  align-items: center;
}
.show-comments {
  cursor: pointer;
}
